O presente notebook foi empregado para visualizar os resultados dos experimentos na forma de tabelas.

# Imports

In [1]:
import os 
import pandas as pd
import fiftyone as fo
import numpy as np

In [2]:
# específica o formato de exibição dos floats. 
pd.set_option('display.float_format', '{:,.4f}'.format)

# Funções Auxiliares

A função `get_hyperparameters`retorna, na forma de uma DataFrame, os valores de hiperparâmetros contidos no arquivo `hyperparameters.csv` na pasta de cada modelo treinado.

In [3]:
def get_hyperparameters(csv_hyperparameter_pathes):
    '''
    Função responsável por recuperar os hiperparâmetros dos experimentos. 
    '''
    
    rows = []

    for path in csv_hyperparameter_pathes:
        model_id = int(path.split('/')[-2].split('model_')[-1])
        df_hyperparameters = pd.read_csv(path)
        df_hyperparameters.insert(0, 'model_id', model_id)
        rows.append(df_hyperparameters)

    return pd.concat(rows).sort_values('model_id').reset_index(drop=True)

A função `get_final_metrics` retorna, na forma de uma DataFrame, os valores das métricas finais de mAP, mAP@.50, mAP@.75, bem como o total de verdadeiros positivo, falsos positivo e falsos negativos contidos no arquivo `final_metrics.csv` na pasta de cada modelo treinado.

In [4]:
def get_final_metrics(csv_final_metrics_pathes):
    '''
    Função responsável por recuperar as métricas finais dos experimentos. 
    '''
    
    rows = []

    for path in csv_final_metrics_pathes:
        model_id = int(path.split('/')[-2].split('model_')[-1])
        df_final_metrics = pd.read_csv(path)
        df_final_metrics.insert(0, 'model_id', model_id)
        rows.append(df_final_metrics[['model_id','AP', 'AP50', 'AP75', 'TP', 'FP', 'FN']])

    return pd.concat(rows).sort_values('model_id').reset_index(drop=True)

A função `merge_dataframes` une os DataFrames referentes aos hiperparâmetros e as métricas em um único DataFrame a partir da coluna `model_id`.

In [5]:
def merge_dataframes(df_hyperparameters, df_final_metrics):
    df_merge = pd.merge(df_hyperparameters, df_final_metrics, on='model_id')
    return df_merge

A função `make_metrics_per_class_df` retorna as métricas precisão, revocação, bem como o total de verdadeiros positivos, de falsos positivos e de falsos negativos para cada classe através de um DataFrame. Além disso, retorna um DataFrame secundário com o resumo estatístico desses dados.

In [6]:
def make_metrics_per_class_df(path):
    df_metrics_per_class = pd.read_csv(path)
    df_metrics_per_class.drop(['f1-score'], axis=1, inplace=True)
    df_metrics_per_class.columns = df_metrics_per_class.columns.str.replace('Unnamed: 0','')
    
    stats = {
    'mean_precision': np.round(df_metrics_per_class['precision'].mean(), 4),
    'mean_recall': np.round(df_metrics_per_class['recall'].mean(), 4), 
    'total_tp': df_metrics_per_class['TP'].sum(), 
    'total_fp': df_metrics_per_class['FP'].sum(), 
    'total_fn': df_metrics_per_class['FN'].sum()
    }
    
    df_stats = pd.DataFrame(stats, index=[0])
    
    return df_metrics_per_class, df_stats

# Backbone Selection

Apresentação dos resultados encontrados na fase de seleção da backbone.

In [7]:
# caminho base para a pasta contendo os modelos treinados na fase de seleção da backbone
base_path = '../faster_rcnn/backbone_selection/'

# especifica os caminhos dos arquivos csv contendo os hiperparâmetros do treinamento, bem como as métricas alcançadas
csv_hyperparameters_pathes = [base_path+folder+'/hyperparameters.csv' for folder in os.listdir(base_path)]
csv_final_metrics_pathes = [base_path+folder+'/final_metrics.csv' for folder in os.listdir(base_path)]

# cria os dataframes de hiperparâmetros e de métricas finais
df_hyperparameters = get_hyperparameters(csv_hyperparameters_pathes)
df_final_metrics = get_final_metrics(csv_final_metrics_pathes)

# une os dataframes a partir da coluna model_id
df_merge = merge_dataframes(df_hyperparameters, df_final_metrics)
df_merge

,model_id,model_type,backbone_type,batch_size,learning_rate,num_epochs,train_shuffle,image_size,AP,AP50,AP75,TP,FP,FN
0,0,mmdet.faster_rcnn,resnet50_fpn_1x,1.0000,0.0001,20.0000,False,512.0000,0.6287,0.8711,0.7887,159,35,13
1,1,mmdet.faster_rcnn,resnet50_fpn_2x,1.0000,0.0001,20.0000,False,512.0000,0.6234,0.8718,0.7628,159,47,13
2,2,mmdet.faster_rcnn,resnet101_fpn_1x,1.0000,0.0001,20.0000,False,512.0000,0.6489,0.8723,0.8209,157,24,15
3,3,mmdet.faster_rcnn,resnet101_fpn_2x,1.0000,0.0001,20.0000,False,512.0000,0.6518,0.8767,0.8381,158,18,14
4,4,mmdet.faster_rcnn,resnext101_32x4d_fpn_1x,1.0000,0.0001,20.0000,False,512.0000,0.7133,0.9417,0.8865,165,18,7
5,5,mmdet.faster_rcnn,resnext101_32x4d_fpn_2x,1.0000,0.0001,20.0000,False,512.0000,0.6739,0.8870,0.8433,159,26,13
6,6,mmdet.faster_rcnn,resnext101_64x4d_fpn_1x,1.0000,0.0001,20.0000,False,512.0000,0.6960,0.9280,0.8648,163,16,9
7,7,mmdet.faster_rcnn,resnext101_64x4d_fpn_2x,1.0000,0.0001,20.0000,False,512.0000,0.6779,0.8874,0.8393,157,27,15

In [20]:
# converter para tabela latex
#df_merge[['AP', 'AP50', 'AP75']].to_latex('testA.txt', index=False)

## Metrics per Class

Apresentação dos resultados por classe para o quinto modelo (melhor mAP).

In [8]:
path = '../faster_rcnn/backbone_selection/model_4/metrics_per_class.csv'
df_metrics_per_class, df_stats = make_metrics_per_class_df(path)
df_metrics_per_class

                        precision  recall  TP  FP  FN
0  canario_do_amazonas     0.8750  0.9655  56   8   2
1               chupim     0.9500  0.9744  38   2   1
2              rolinha     0.8966  0.9630  26   3   1
3  sanhaco_da_amazonia     0.9200  1.0000  23   2   0
4  sanhaco_do_coqueiro     0.8800  0.8800  22   3   3

In [9]:
df_stats

   mean_precision  mean_recall  total_tp  total_fp  total_fn
0          0.9043       0.9566       165        18         7

# Hyperparameters Tuning

Apresentação dos resultados encontrados na fase de ajuste de hiperparâmetros.

In [19]:
# caminho base para a pasta contendo os modelos treinados na fase de ajuste de hiperparâmetros
base_path = '../faster_rcnn/hyperparameter_tuning/'

# especifica os caminhos dos arquivos csv contendo os hiperparâmetros do treinamento, bem como as métricas alcançadas
csv_hyperparameters_pathes = [base_path+folder+'/hyperparameters.csv' for folder in os.listdir(base_path)]
csv_final_metrics_pathes = [base_path+folder+'/final_metrics.csv' for folder in os.listdir(base_path)]

# cria os dataframes de hiperparâmetros e de métricas finais
df_hyperparameters = get_hyperparameters(csv_hyperparameters_pathes)
df_final_metrics = get_final_metrics(csv_final_metrics_pathes)

# une os dataframes a partir da coluna model_id
df_merge = merge_dataframes(df_hyperparameters, df_final_metrics)
df_merge

,model_id,model_type,backbone_type,batch_size,learning_rate,num_epochs,train_shuffle,image_size,presize,AP,AP50,AP75,TP,FP,FN
0,0,mmdet.faster_rcnn,resnext101_32x4d_fpn_1x,1.0000,0.0001,30.0000,False,512.0000,NaN,0.6904,0.9241,0.8274,162,15,10
1,1,mmdet.faster_rcnn,resnext101_32x4d_fpn_1x,1.0000,0.0001,20.0000,True,512.0000,NaN,0.6799,0.9162,0.8278,161,22,11
2,2,mmdet.faster_rcnn,resnext101_32x4d_fpn_1x,1.0000,0.0001,30.0000,True,512.0000,NaN,0.7111,0.9412,0.8678,164,18,8
3,3,mmdet.faster_rcnn,resnext101_32x4d_fpn_1x,4.0000,0.0001,20.0000,False,512.0000,NaN,0.5635,0.7973,0.7058,147,39,25
4,4,mmdet.faster_rcnn,resnext101_32x4d_fpn_1x,1.0000,0.0100,20.0000,False,512.0000,NaN,0.0000,0.0000,0.0000,0,0,172
5,5,mmdet.faster_rcnn,resnext101_32x4d_fpn_1x,1.0000,0.0010,20.0000,False,512.0000,NaN,0.7122,0.9377,0.8788,164,21,8
6,6,mmdet.faster_rcnn,resnext101_32x4d_fpn_1x,1.0000,0.0000,20.0000,False,512.0000,NaN,0.2433,0.4029,0.2485,85,31,87
7,7,mmdet.faster_rcnn,resnext101_32x4d_fpn_1x,1.0000,0.0001,20.0000,False,640.0000,NaN,0.7078,0.9258,0.8594,164,24,8
8,8,mmdet.faster_rcnn,resnext101_32x4d_fpn_1x,1.0000,0.0001,20.0000,False,768.0000,NaN,0.7164,0.9325,0.8585,164,17,8
9,9,mmdet.faster_rcnn,resnext101_32x4d_fpn_1x,1.0000,0.0001,20.0000,False,896,NaN,0.7605,0.9434,0.8902,166,22,6
10,10,mmdet.faster_rcnn,resnext101_32x4d_fpn_1x,1.0000,0.0001,20.0000,False,"(1280, 720)",NaN,0.5290,0.6904,0.6414,133,48,39
11,11,mmdet.faster_rcnn,resnext101_32x4d_fpn_1x,1.0000,0.0001,20.0000,False,512,640.0000,0.6969,0.9275,0.8587,163,19,9
12,12,mmdet.faster_rcnn,resnext101_32x4d_fpn_1x,1.0000,0.0001,20.0000,False,640,768.0000,0.7043,0.9134,0.8667,163,20,9
13,13,mmdet.faster_rcnn,resnext101_32x4d_fpn_1x,1.0000,0.0001,20.0000,False,768,896.0000,0.7405,0.9452,0.9019,166,23,6
14,14,mmdet.faster_rcnn,resnext101_32x4d_fpn_1x,1.0000,0.0001,20.0000,False,896,"1,024.0000",0.7529,0.9459,0.8851,165,17,7

A presentação dos resultados encontrados no primeiro teste (ajuste do número de epochs e de embaralhamento do conjunto de treinamento).

In [20]:
df_merge[['num_epochs','train_shuffle','AP','AP50','AP75']][0:3]

   num_epochs  train_shuffle     AP   AP50   AP75
0     30.0000          False 0.6904 0.9241 0.8274
1     20.0000           True 0.6799 0.9162 0.8278
2     30.0000           True 0.7111 0.9412 0.8678

A presentação dos resultados encontrados no segundo teste (ajuste no tamanho do batch).

In [21]:
df_merge[['batch_size','AP','AP50','AP75']].loc[3]

batch_size   4.0000
AP           0.5635
AP50         0.7973
AP75         0.7058
Name: 3, dtype: float64

A presentação dos resultados encontrados no terceiro teste (ajuste na taxa de aprendizagem).

In [22]:
df_merge[['learning_rate','AP','AP50','AP75']][4:7]

   learning_rate     AP   AP50   AP75
4         0.0100 0.0000 0.0000 0.0000
5         0.0010 0.7122 0.9377 0.8788
6         0.0000 0.2433 0.4029 0.2485

A presentação dos resultados encontrados no quarto teste (ajuste no tamanho da imagem).

In [23]:
df_merge[['image_size','AP','AP50','AP75']][7:11]

     image_size     AP   AP50   AP75
7      640.0000 0.7078 0.9258 0.8594
8      768.0000 0.7164 0.9325 0.8585
9           896 0.7605 0.9434 0.8902
10  (1280, 720) 0.5290 0.6904 0.6414

A presentação dos resultados encontrados no quinto teste (ajuste no tamanho do presizing).

In [24]:
df_merge[['image_size', 'presize', 'AP','AP50','AP75']][11:]

   image_size    presize     AP   AP50   AP75
11        512   640.0000 0.6969 0.9275 0.8587
12        640   768.0000 0.7043 0.9134 0.8667
13        768   896.0000 0.7405 0.9452 0.9019
14        896 1,024.0000 0.7529 0.9459 0.8851

## Metrics per Class

Apresentação dos resultados por classe para o décimo quinto modelo selecionado nesta fase.

In [25]:
path = '../faster_rcnn/hyperparameter_tuning/model_14/metrics_per_class.csv'
df_metrics_per_class, df_stats = make_metrics_per_class_df(path)
df_metrics_per_class

                        precision  recall  TP  FP  FN
0  canario_do_amazonas     0.9344  0.9828  57   4   1
1               chupim     0.9000  0.9231  36   4   3
2              rolinha     0.9643  1.0000  27   1   0
3  sanhaco_da_amazonia     0.8519  1.0000  23   4   0
4  sanhaco_do_coqueiro     0.8462  0.8800  22   4   3

In [26]:
df_stats

   mean_precision  mean_recall  total_tp  total_fp  total_fn
0          0.8993       0.9572       165        17         7

# Final Test

Apresentação dos resultados do modelo treinado com a base total de dados.

In [27]:
# caminho base para a pasta contendo os modelos treinados na fase de seleção da backbone
base_path = '../faster_rcnn/final_test/'

# especifica os caminhos dos arquivos csv contendo os hiperparâmetros do treinamento, bem como as métricas alcançadas
csv_hyperparameters_pathes = [base_path+folder+'/hyperparameters.csv' for folder in os.listdir(base_path)]
csv_final_metrics_pathes = [base_path+folder+'/final_metrics.csv' for folder in os.listdir(base_path)]

# cria os dataframes de hiperparâmetros e de métricas finais
df_hyperparameters = get_hyperparameters(csv_hyperparameters_pathes)
df_final_metrics = get_final_metrics(csv_final_metrics_pathes)

# une os dataframes a partir da coluna model_id
df_merge = merge_dataframes(df_hyperparameters, df_final_metrics)
df_merge

,model_id,model_type,backbone_type,batch_size,learning_rate,num_epochs,train_shuffle,image_size,presize,AP,AP50,AP75,TP,FP,FN
0,0,mmdet.faster_rcnn,resnext101_32x4d_fpn_1x,1.0000,0.0001,20.0000,False,896,1024,0.8189,0.9833,0.9572,560,25,7

## Metrics per Class

Apresentação dos resultados do modelo definitivo para cada classe.

In [28]:
path = base_path = '../faster_rcnn/final_test/model_0/metrics_per_class.csv'
df_metrics_per_class, df_stats = make_metrics_per_class_df(path)
df_metrics_per_class

                        precision  recall   TP  FP  FN
0  canario_do_amazonas     0.9515  0.9849  196  10   3
1               chupim     0.9725  1.0000  106   3   0
2              rolinha     0.9663  0.9773   86   3   2
3  sanhaco_da_amazonia     0.9877  1.0000   80   1   0
4  sanhaco_do_coqueiro     0.9200  0.9787   92   8   2

In [29]:
df_stats

   mean_precision  mean_recall  total_tp  total_fp  total_fn
0          0.9596       0.9882       560        25         7